h1 {
  color: rgb(130, 78, 213);
  font-family: sans-serif;
}

li {
  color: rgb(0, 0, 0);
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

